html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    color: #949494;
    background-color: linear-gradient(90deg, #f5f5f5 53%, #ffffff 100%);
    
    pudding: 0;
    margin: 0;
}

/*page01-BG*/

@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/*page01-BG-end*/

/**/

.logo {
    width:8em;
    height:2em;
    transform: scale(0.96);
    transition: transform 0.5s ease-in;
}

.logo:hover {
    width:8em;
    height:2em;
    transform: scale(1);
    transition: transform 0.5s ease-in;
}


.logo img {
    width:100%;
    height:90%;
}

.page04container .page04card .page04img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    border-radius:10px;
}


.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}



.page01 {
    margin: 5em auto;
    padding: 5em;
}

.page02 {
    height:20em;
    background: linear-gradient(180deg, #ffffff, #f5f5f5, #ffffff);
    
}



.page01,
.page02,
.page03,
.page04,
.page05 {
    margin-top: 10em;
    margin-bottom: 10em;
}

.page01 {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;/* img size is 50x50 */
      -webkit-animation: bg-scrolling-reverse 0.92s infinite;
      /* Safari 4+ */
      -moz-animation: bg-scrolling-reverse 0.92s infinite;
      /* Fx 5+ */
      -o-animation: bg-scrolling-reverse 0.92s infinite;
      /* Opera 12+ */
      animation: bg-scrolling-reverse 0.92s infinite;
      /* IE 10+ */
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
}


/*navBar*/
nav {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    display: flex;
    justify-content: space-around;

    align-items: center;
    min-height: 10vh;
    z-index: 3;
    box-shadow: 3px 4.9px 16px rgba(0, 0, 0, 0.05);
    margin-bottom: 1em;
    
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px);
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #969696;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1em;
    z-index: 1;
    width: 15%;
    margin-bottom: 1em;
    cursor: pointer;
}

.nav-links a:hover {
    z-index: 1;
    border-radius: 50em;
    transform: scale(1);
    color: #3d3d3d;
    letter-spacing: 5px;
    transition: 0.6s;
    transform: translateY(-0.15em);
}

.burger {
    display: none;
}



.burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}



@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /*background-color: #f8f8f8;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        background-color: rgba(255, 255, 255, 0.96); 
        backdrop-filter: blur(10px);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*end navBar*/



/*page01*/
.page01card {
    text-align: center;

}

.page01container {
    display: flex;
    justify-content: center;

}

.slider-thumb {
    display: flex;
    justify-content: space-around;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

h1 {
    font-weight: 200;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 3.4em;
    animation: 1.2s slideIn ease-in-out forwards 0s;
}


h2 {
    font-size: 3.3em;
    text-align: center;
    font-weight: 100;
    animation: 1.3s slideIn ease-in-out forwards 0s;
}


h3 {
    font-size: 2.8em;
    text-align: center;
}

span {
    position: relative;
}

span::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

span:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

span::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #ddf953;
    z-index: -1;
    transition: transform 0.3s ease;
}



h4 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 100;
    animation: 1.3s slideIn ease-in-out forwards 0s;
}

h5 {
    font-size: 1.1em;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0.8em;
    animation: 1.3s slideIn ease-in-out forwards 0s;
}

p {
    font-size: 1em;
    text-align: center;
    animation: 1.3s slideIn ease-in-out forwards 0s;
}

hr {
    animation-duration: 3s;
    animation: 1.2s slideIn ease-in-out forwards 0s;
}



a {
    text-decoration: none;
}


h6 {
    color: #888;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 100;
}

section {
    margin-top: 8em;
    margin-bottom: 8em;
    padding: 4em;
}

footer {
    display: flex;
    justify-content: center;
}


.page01Btn {
    padding: 20px;
    margin-top: 8em;
    margin-bottom: 8em;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    outline: 0;
    text-align: center;
    border: 6px solid #4f4f4f;
    background-color: none;
    animation: 1.2s slideIn ease-in-out forwards 0s;
    text-transform: uppercase;


}

.page01Btn:hover {
    background-color: rgb(199, 199, 199, 0.3);
    color: #000000;
    box-shadow: 3px 4.9px 16px rgb(199, 199, 199, 0.3);
    letter-spacing: 5px;
    transition: 0.6s;
    transform: translateY(-0.15em);
}

/*
.card {
  width: 94%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em ;
}

.card:hover {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  -webkit-transform: scale(1.05);

  transform: scale(1.05)
;

}
*/

/*@keyframes .page01container {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}*/




@keyframes page01sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}



/*End page01*/



/*page04*/

/*page04*/
.page04container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.page04card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 480px;/*show box height*/
    background: #FFF;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    animation: 1.3s slideIn ease-in-out forwards 0s;
}


.page04container .page04card:hover {
    height: 400px; /*hover box size*/
}

.page04container .page04card .page04img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.page04container .page04card:hover .page04img-box {
    top: -60px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.page04container .page04card .page04img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page04container .page04card .page04content {
    position: absolute;
    top: 232px;
    width: 100%;
    height: 240px;/*show text range*/
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.page04container .page04card:hover .page04content {
    top: 130px;
    height: 400px;
}

.page04container .page04card .page04content h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #000;
    padding-left: 0.7em;
    padding-right: 0.7em;
}



.page04container .page04card .page04content a {
    position: relative;
    top: 5px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: linear-gradient(132deg, #006eff, #025fd9, #006eff);
    border-radius: 5em;
    color: #FFF;
    font-weight: 500;
}

.page04container .page04card .page04content a:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .page04container .page04card {
        width: 230px;
        border-radius: 15px;
    }

    .page04container .page04card .page04img-box {
        width: 185px;
        border-radius: 10px;
    }

    .page04container .page04card .page04content p {
        font-size: 0.8rem;
    }

    .page04container .page04card .page04content a {
        font-size: 0.9rem;
    }
}


/*page06*/
hr {
    width: 50%;
    margin: 0 auto;
}


.page06 {
    background: #ffffff;
      background-size: 400% 400%;
      animation: Gradient 15s ease infinite;
      position: relative;
      overflow: hidden;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/**/

.page06cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page06 {
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 10em auto;

}


.page06container {
    display: flex;
    justify-content: space-around;
    transition: 0.1s ease;

}


.page06card01,
.page06card02,
.page06cardinner1,
.page06cardinner2 {
    filter: grayscale(100%);
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    height: 8.6em;
    font-size: 14px;
    outline: 0;
    text-align: center;
    animation: 0.2s slideIn ease-in-out forwards 0.1s;

    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.15);


    color: #969696;
    margin-bottom: 0.8em;
    transform: scale(0.9);
}


.page06card01:hover,
.page06card02:hover,
.page06cardinner1:hover,
.page06cardinner2:hover {
    filter: grayscale(0%);


    color: #3d3d3d;
    letter-spacing: 2px;
    transition: 0.6s;
    transform: translateY(-0.15em);
    transform: scale(1);
}


.page06container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: 1.3s slideIn ease-in-out forwards 0s;
}

.page06card01 {
    border-top: 6px solid #0066e9;
}

.page06card02 {
    border-top: 6px solid #0066e9;
}

.page06card01,
.page06card02 {
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    border-radius: 20px;


    width: 320px;
    max-width: 100%;
    height: 140px;
    transition: 0.5s;
}



.page06cardinner1,
.page06cardinner2 {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 250px;

   

    width: 320px;
    max-width: 100%;
    height: 140px;
    transition: 0.5s;
    animation: 1.2s slideIn ease-in-out forwards 0s;

    

}

.page06cardinner1 {
    border-top: 6px solid #0066e9;
}

.page06cardinner2 {
    border-top: 6px solid #0066e9;
}

.page06cardmiddle {
    flex-direction: column;


}





/*page06_SVG*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}



/*End page06*/

/*Footer*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #009dff;
}



/*page05_profile-card*/

.page05 {
  /*background-color: #007bff ;*/
  height:40em;
  margin:0;
  background: linear-gradient(-90deg, #f7f7f7, #ccfff0, #ffffff, #f9ed9f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-card {
  background-color: rgb(245, 122, 147, 0.6); 
  width: 56px;
  height: 56px;
  position: absolute;
  left: 48%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  padding: 20px;
  margin: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 3px 10px rgba(0, 0, 0, 0.1);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
  width: 180px;
  height: 300px;
  display: inline-block;
  border-right: 2px dashed #EEEEEE;
  opacity: 0;
  text-align: center;
  animation: moveIn 1s 3.1s ease forwards;
}



.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
}


.profile-card header a > img {
  width: 100px;
  max-width: 100%;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}


.profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  padding: 15px;
  text-align: center;
  opacity: 0;
  box-sizing: border-box;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  color: #4ea7e3;
  width: 20px;
  height: 24px;
  position: relative;
}




@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}



@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}



@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}



@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 80%;
  }
}



@keyframes moveUp {
  0% {
    background-color: rgb(245, 122, 147, 0.6); 
    top: 80%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background-color: rgb(255, 189, 46, 0.6); 
  }
}


@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}


@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}



@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
 
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card  {
    width: auto;
    height: auto;
    padding: 30px;
    display: block;
    float: none;
     background-color:none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  
  @keyframes materia {
    0% {
      background-color: rgb(255, 189, 46, 0.6); 
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 16em;
      height: 26em;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.4); 
      backdrop-filter: blur(10px);
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
    
    }
  }
}



